<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <script type="text/javascript">
        
        function remove(uid){

            var del=window.confirm("Are you sure you want to delete this user?");
    
            if (del) {
                window.location.href = "/delete/" + uid;
            }
        }
        function edit(uid){
          
            window.location.href = "/edit/" + uid;
        }
    
        </script>
</head>
<body>
    <div th:each="user:${uss}">
        <div th:style="'font-size:24px; text-align:center'">
            <h1>NAME: <span th:text="${user.name}"></span></h1>
            Weight: <span th:text="${user.weight}"></span><br>
            Height: <span th:text="${user.height}"></span><br>
            Gpa: <span th:text="${user.gpa}"></span><br>
            Uid: <span th:text="${user.uid}"></span><br>
        </div>

        <div th:style="'float:left'">
            <input id="edit" class="btn" type="button" value="Edit" th:attr="onclick=|edit('${user.uid}')|"></input>
        </div>

        <div th:style="'float:right'">
            <input id="delete" class="btn" type="button" value="Delete" th:attr="onclick=|remove('${user.uid}')|"></input>


        </div>

    </div>
</body>
</html>

          